  /* Base Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #0f2e5c;
  --secondary-color: #e6f0ff;

  --card-color: #e6f0ff;
  --text-color: #0f2e5c;
  --light-text: #4a6cfa;
  --white: #fff;
  --button-color: #0f2e5c;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--text-color);
  background-color: transparent;
  line-height: 1.6;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
.logo,
.navbar ul li.active a {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

.app-container {
  width: 300px;
  height: 265px;
  position: relative;
  overflow: hidden;
}




/* Card Styles */
.card {
  background-color: var(--card-color);
  border-radius: 16px;
  padding: 20px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Logo Styles */
.logo {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.logo-icon {
  width: 24px;
  height: 24px;
  
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  margin-right: 8px;
}

.logo-text {
  font-size: 20px;
  font-weight: 700;
  color: var(--primary-color);
}

/* Status Text */
.status-text {
  margin-bottom: 20px;
  width: 100%;
}

.status {
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 5px;
  color: var(--light-text);
}

.filtered-count {
  font-size: 14px;
  color: var(--text-color);
}

.message {
  font-size: 14px;
  color: var(--text-color);
  padding: 0 10px;
}

.shield-icon {
  font-size: 14px;
}

/* Button Styles */
.primary-btn {
  background-color: var(--button-color);
  color: var(--white);
  border: none;
  padding: 10px 25px;
  border-radius: 25px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 80%;
}

.primary-btn:hover {
  background-color: #1a3a6c;
}


